@charset "UTF-8";

body {
	font-family: Meiryo;
	text-align: center;
	
	background-image: url(../image/bg_map.png);
	background-color:rgba(255,255,255,0.4);
	background-blend-mode:lighten;
	background-size: cover;
}

h1 {
	font-size: 40px;
	margin-top: 5%;
}

.menu {
	display:flex;
	flex-flow: column;
	height:300px;
	margin:0 0 1em;
}

.menu * {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	margin: 0.5em auto;
	padding: 1em 2em;
	width: 300px;
	color: #333;
	font-size: 18px;
	font-weight: 700;
	background-color: #ffffff;
	transition: 0.3s;
}

.menu a::before {
	content: '';
	position: absolute;
	top: -5px;
	left: -5px;
	width: calc(100% - 4px);
	height: calc(100% - 4px);
	border: 2px solid #3d9ec8;
	transition: 0.2s;
}

.menu a::after {
  content: '';
  width: 5px;
  height: 5px;
  border-top: 3px solid #333333;
  border-right: 3px solid #333333;
  transform: rotate(45deg);
}

.menu a:hover::before {
  top: 0;
  left: 0;
}

.menu a:hover {
  text-decoration: none;
  background-color: #a0c4d3;
}