@charset "UTF-8";

body {
	font-family: Meiryo;
	text-align: center;
	
	background-color: #ff0000;
	background-image: url(earth.gif);
	background-size: contain;
	background-position: center bottom;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

h1 {
	font-size: 55px;
	margin-bottom: 0
}

#maintitle {
	color: #ffd700;
}

.first {
	margin-top: 5px;
}
.first a{
	color: #ffffff;
}

.question {
	font-size: 25px;
	font-weight:  bold;
	color: #ffffff;
	margin-top: 100px;
}

.link img{
	width: 20%;
	margin: 0% 3%;
	vertical-align: middle;
	border-style: none;
}

.link img:hover {
	opacity: 0.6;
	transition: 0.5s;
}